Altium/*/History/
Altium/*/__Previews/
Altium/*/Project Logs for */
*.ini
PowerSupplyFirmware.X/dist/default/production/PowerSupplyFirmware.X.production.cof
PowerSupplyFirmware.X/dist/default/production/PowerSupplyFirmware.X.production.map
PowerSupplyFirmware.X/dist/default/production/memoryfile.xml
Altium/PCB Potencia/Project Outputs for PCB Potencia/
PowerSupplyFirmware.X/build/
PowerSupplyFirmware.X/dist/
PowerSupplyFirmware.X/disassembly/
Documentacion/Informe.aux
Documentacion/Informe.lof
Documentacion/Informe.log
Documentacion/Informe.synctex.gz
Documentacion/Informe.toc
